@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap");

Body {
    background-color: lemonchiffon;
    color: blue;
}

ul {
    display: inline-block;
    text-align: left;
    font-family: 'Roboto Mono', monospace;
}

.container {
    background-color: fuchsia;
    border-radius: 45px;
    box-shadow: 18px 5px 5px navajowhite;
    margin: 24px auto;
}

.header-title {
    font-family: 'Roboto Mono', monospace;
    font-size: 5em;
    color: gold;
    text-align: center;
}

.header-subtitle {
    font-family: 'Roboto Mono', monospace;
    font-size: 2.2em;
    color: teal;
    text-align: center;
}

.image {
    padding: 30px;
    max-width: 404px;
    margin: auto;
}

.thumbnail {
    border-radius: 10px;
    box-shadow: 8px 5px 5px blue;
    font-family: 'Roboto Mono', monospace;
}

.events-title {
    color: goldenrod;
    font-family: 'Roboto Mono', monospace;
    font-size: 3em;
    margin: 42px;
    text-align: center;
}

.quote {
    color: teal;
    font-style: italic;
    font-family: 'Roboto Mono', monospace;
    margin: 24px;
    font-size: 2em;
}

.more-info {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    font-size: 1.2em;
    margin: 22px;
}

.footer {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}